/*This is the main Stylesheet - startup styling applied: remove startup styling as needed.*/

body {
    background-color: #151515;
    color: whitesmoke;
    font-family: Quicksand;
    font-size: 30px;
}